// Homepage Scroll Down Arrow Animation
@mixin scrolldown {
  @keyframes scrolldown {
    0% {
      opacity: 0;
      transform: translate(0, -8px)
    }

    50% {
      opacity: 1;
      transform: translate(0, 0);
    }

    100% {
      opacity: 0;
      transform: translate(0, 8px);
    }
  }
}
