// RESET * and html
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // make 1rem == 10px rather than 16px
  font-family: 'Open Sans', sans-serif;
}

body {
  transition: all ease-in-out 0.3s;
  overflow-x: hidden;
}