// Header + Navbar
$header-footer-bg--color__light: #10131a;
$header-footer-bg--color__dark: #000000;
$header-title-main--color__light: #f2f3ff;
$header-title-main--color__dark: #e4e4e4;
$header-title-sub--color__light: #b2b2bd;
$header-title-sub--color__dark: #7c7c7c;
$navbar-active-link--color__light: #ff933b;
$navbar-link--color__hover: #c7d0e2;

// Body
$bg--color__dark: #141518;
$text--color__light: #8c8ca5;
$text--color__dark: #6c6c83;
$text--color__darker: #161920;
$text--color__tert: #7c7c91;
$text--color__hover: #ffa640;
$project-bg--color__light: #edf2fa;
$project-bg--color__dark: #202227;
$project-gh-bg--color__light: #23252c;
$project-gh-bg--color__dark: #16181d;

// Footer
$footer-text--color: #b2b2bd;
$footer-text--color__hover: #f1f1ff;
$footer-text--color__last-item: #84849e;
$footer-text--color--last-item__hover: #9d9fbb;

// Light / Dark Toggle
$toggle-bg--color: #1a1e28;
$toggle-bg--border--color: #242833;
$toggle-btn--color__light: #ffc375;
$toggle-btn--color__dark: #7788d4;